<% layout("/layouts/boilerplate") %>
<body>
  <h3>All listings</h3>
  <!-- <form method="get" action="/listings/new">
        <button>Create your listing</button>
    </form> -->
  <a >
  <% for(let listing of allListing ){ %>
  <div class="card" style="width: 18rem">
    <img src="<%= listing.image %>" class="card-img-top" alt="listingimage" />
    <div class="card-body">
      <p class="card-text">
        <%= listing.title %>
        <%= listing.price %>
      </p>
    </div>
  </div>
  <% }%>
  </a>

  <ul>
    <% for(let listing of allListing ){ %>
    <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% }%>
  </ul>
</body>
